$datepicker__border-color: #efe5dd;
$datepicker__background-color: #fbf6e3;
$datepicker__selected-color: #b35c7a;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #c9a98d;
$datepicker__text-color: #7e4759;

$datepicker__current-month-color: #382941;

$datepicker__font-size: .8rem !default;
$datepicker__border-radius: .3rem !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__day-margin: .166rem !default;
$datepicker__triangle-size: 8px !default;
$datepicker__margin: .4rem !default;
$datepicker__navigation-size: .45rem !default;
