@import '../vars';

.UserProfile__tasks {
	width: 100%;
	box-sizing: border-box;
	@include breakpoint ($smSize) {
		padding-left: 5%;
	}
	.UserProfile__tasks__task {
		display:flex;
		flex-direction: row;
		
		.UserProfile__tasks__task__input-group {
			display: flex;
			flex-direction: column;
			width: 33%;
			@include breakpoint ($xsSize) {
				width: 20%;
			}			
			@include breakpoint ($smSize) {
				width: 30%;
			}
			@include breakpoint ($mdSize) {
				width: 26%;
			}
			@include breakpoint ($lgSize) {
				width: 24%;
			}						
			.UserProfile__tasks__task__input {
				@extend .input;
				width: 100%;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.UserProfile__tasks__task__task-description {
			@extend .input;
			margin-left: 5%;
			width: 62%;
			@include breakpoint ($xsSize) {
				width: 75%;
			}			
			@include breakpoint ($smSize) {
				width: 65%;
			}
			@include breakpoint ($mdSize) {
				width: 69%;
			}
			@include breakpoint ($lgSize) {
				width: 71%;
			}						

			resize: none;
			height: 80px;
			@include breakpoint ($mdSize) {
				height: 89px;	
			}
		}				
	}
	.UserProfile__tasks__form__button-container {
		@extend .button-container;
		.UserProfile__tasks__form__button {
			@extend .button;
		}
	}
	.UserProfile__tasks__form__button-container+.UserProfile__tasks__form__button-container {
		margin-top: 10px;
	}
}