@import '../vars';

.UserProfile {
	clear: both;
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;

	/* --------- Column 2 --------- */
	.UserProfile__column2 {
		width: 50%;
		box-sizing: border-box;
	}
}