@import '../vars';

.UserProfile__progress {
	width: 50%;
	clear: both;
	display: flex;
	flex-direction: column;
	
	.UserProfile__progress__progress-scheme {
		width: 100%;
		padding-top: 10px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		border: 1px solid $inputBorderColor;
		background: $inputMainColor;
		margin-bottom: 30px;
		
		.UserProfile__progress__progress-scheme__item {
			display: flex;
			flex-direction: row;
			align-items: center;

			.UserProfile__progress__progress-scheme__item__figure {
				padding: 10px;
				
				.UserProfile__progress__progress-scheme__item__figure__img {
					margin: 0 auto ;
					display: block;
					width: 50px;
				}
				.UserProfile__progress__progress-scheme__item__figure__text {
					text-align: center;
					font-size: 12px;
				}
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}

			.UserProfile__progress__progress-scheme__item__arrow {
				max-width: 20px;

			}
		}
		.UserProfile__progress__progress-scheme__item_non-active {
			opacity: 0.4;
		}
		.UserProfile__progress__progress-scheme__item_active {
			opacity: 1;
		}		
	}

	.ProgressItem {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		.ProgressItem__img-and-text {
			width: 120px;
			display: flex;
			flex-direction: column;
			align-items: center;
			.ProgressItem__img {
				height: 60px;
				width: 60px;
				isplay: flex;
				flex-direction: column;
			}
			.ProgressItem__img-caption {
				margin-bottom: 0;
				text-align: center;
				display: flex;
				flex-direction: column;
				font-size: 14px;
			}
		}
		.ProgressItem__comment-textarea {
			resize: none;
			width: 100%;
			height: 80px;
			background: $inputMainColor;
			border: 1px solid $inputBorderColor;
			font-size: 14px;
			color: $inputTextColor;
			&::placeholder {
				color: $inputPlaceholderColor;
			}
			&:focus {
				&::placeholder {
					transition: 0.5s;
					color: transparent;
				}					
			}				
		}	
	}
	.UserProfile__progress__form__button-container {
		@extend .button-container;
		.UserProfile__progress__form__button {
			@extend .button;
		}
	}		
}