@import 'breakpoints';

// ============== Colors ==============  

$inputMainColor: #fbf6e3;
$inputBorderColor: #efe5dd;
$inputPlaceholderColor: #c9a98d;
$inputTextColor: #7e4759;

$h2Color: #382941;

$buttonMainColor: #fbf6e3;
$buttonTextColor: #7e4759;
$buttonBorderColor: #d8c7cd;

$tableRowColor1: #efe5dd;
$tableRowColor2: #fbf6e3;
$tableIconColor: #c9a98d;

$menuIconColor: #b35c7a;
$menuTextColor: #7e4759;

$mainTextColor: #382941;
$warningTextColor: #b35c7a;


//============== Sizes ============== 
$mainFontSize: 18px;
$smallFontSize: 14px;
$subMainFontSize: 14px;
$subSmallFontSize: 12px;
$smallWarningSize: 10px;

// ============== Modal Window Constants ============== 
$modalWidth: 500px;
$modalMinHeight: 100px;
$modalContentPadding: 30px;
$modalMainColor: #fbf6e3;
$modalBorderColor: #efe5dd;
$modalTextColor: #7e4759;

//============== Title styles ============== 
.h2 {
	color: $mainTextColor;
	font-size: 14px;
	@include breakpoint($xsSize) {
		font-size: 18px;
	}	
	@include breakpoint($mdSize) {
		font-size: 28px;
	}
}

.button-container {
	display: flex;
	justify-content: flex-end;
}
.button {
	transition: 0.5s;
	display: block;
	background: $buttonMainColor;
	color: $buttonTextColor;
	border: 1px solid $buttonBorderColor;
	font-size: $mainFontSize;
	width: 125px;
	height: 35px;
	&:hover {
		background: $buttonBorderColor;
		color: $buttonTextColor;
		border: 1px solid $buttonBorderColor;		
		cursor: pointer;
	}
}

.input {
	font-family: sans-serif;
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 8px;
	background: $inputMainColor;
	border: 1px solid $inputBorderColor;
	font-size: $smallFontSize;
	@include breakpoint ($mdSize) {
		font-size: $mainFontSize;
	}
	color: $inputTextColor;
	&::placeholder {
		color: $inputPlaceholderColor;
	}
}

.input_view-mode {
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 8px;
	background: none;
	border: 1px solid transparent;
	font-size: $smallFontSize;
	@include breakpoint($mdSize) {
		font-size: $mainFontSize;
	}
}

.display-none {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	z-index: 150;
}

.modal {
	position: fixed;
	width: $modalWidth;
	min-height: $modalMinHeight;
	top: 50%;
	left: 50%;
	margin-left: -$modalWidth/2 - $modalContentPadding;
	margin-top: -$modalMinHeight - $modalContentPadding;
	background: $modalMainColor;
	border: 1px solid $modalBorderColor;
	color: $modalTextColor;
	z-index: 151;
	text-align: justify;
	padding: $modalContentPadding;

	.modal__button-container {
		margin-top: 60px;
		display: flex;
		justify-content: space-around;
	}
	.modal__button {
		@extend .button;
	}
}
