
// ============== Colors ==============  

$inputMainColor: #fbf6e3;
$inputBorderColor: #efe5dd;
$inputPlaceholderColor: #c9a98d;
$inputTextColor: #7e4759;

$h2Color: #382941;

$buttonMainColor: #fbf6e3;
$buttonTextColor: #7e4759;
$buttonBorderColor: #d8c7cd;

$tableRowColor1: #efe5dd;
$tableRowColor2: #fbf6e3;
$tableIconColor: #c9a98d;

$menuIconColor: #b35c7a;
$menuTextColor: #7e4759;

$mainTextColor: #382941;
$warningTextColor: #b35c7a;


//============== Sizes ============== 
$mainFontSize: 18px;

//============== Title styles ============== 
.h2 {
	color: $mainTextColor;
	font-size: 28px;
}