@import 'breakpoints';

.App {
  margin: 0 auto;
  width: 300px;
  @include breakpoint($xsSize) {
  	width: $xsSize; 
  }    
  @include breakpoint($smSize) {
  	width: $smSize; 
  }  
  @include breakpoint($mdSize) {
  	width: $mdSize; 
  }
  @include breakpoint($lgSize) {
  	width: $lgSize; 
  }  

}
