.react-datepicker__header {
	background: #fbf6e3;
}

.react-datepicker__triangle {
background: #fbf6e3;
color: #fbf6e3;	
}

.react-datepicker__day--selected {
	background: #b35c7a;
}

.react-datepicker__day--today {
	background: #fbf6e3
}

.datepicker__navigation--next {
	color: #c9a98d;
	
}

.react-datepicker__current-month {

}