.h2 {
  color: #382941;
  font-size: 28px; }

.button-container {
  display: flex;
  justify-content: flex-end; }

.button {
  transition: 0.5s;
  display: block;
  background: #fbf6e3;
  color: #7e4759;
  border: 1px solid #d8c7cd;
  font-size: 18px;
  width: 125px;
  height: 35px; }
  .button:hover {
    background: #d8c7cd;
    color: #7e4759;
    border: 1px solid #d8c7cd;
    cursor: pointer; }

.input {
  font-family: sans-serif;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  background: #fbf6e3;
  border: 1px solid #efe5dd;
  font-size: 18px;
  color: #7e4759; }
  .input::placeholder {
    color: #c9a98d; }

.input_view-mode {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
  background: none;
  border: 1px solid transparent;
  font-size: 18px; }

.display-none {
  display: none; }

* {
  outline: 0 !important; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #382941;
  font-size: 18px; }
