@import 'vars';

.UserProfile {
	clear: both;
	display: flex;
	flex-direction: row;

	/* --------- Progress --------- */
	.UserProfile__progress {
		width: 50%;
		clear: both;
		display: flex;
		flex-direction: column;

		.ProgressItem {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			.ProgressItem__img-and-text {

				width: 120px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.ProgressItem__img {
					height: 60px;
					width: 60px;
					isplay: flex;
					flex-direction: column;
				}
				.ProgressItem__img-caption {
					margin-bottom: 0;
					text-align: center;
					display: flex;
					flex-direction: column;
					font-size: 14px;
				}
			}
			.ProgressItem__comment-textarea {

				resize: none;
				width: 100%;
				height: 80px;
				background: $inputMainColor;
				border: 1px solid $inputBorderColor;
				font-size: 14px;
				color: $inputTextColor;
				&::placeholder {
					color: $inputPlaceholderColor;
				}
				&:focus {
					&::placeholder {
						transition: 0.5s;
						color: transparent;
					}					
				}				
			}	
		}
		.UserProfile__progress__form__button-container {
			@extend .button-container;
			.UserProfile__progress__form__button {
				@extend .button;
			}
		}		
	}

	/* --------- Column 2 --------- */
	.UserProfile__column2 {
		width: 50%;
		box-sizing: border-box;
	}
	/* --------- Profile --------- */

	.UserProfile__profile {
		width: 100%;
		box-sizing: border-box;
		padding-left: 5%;
		.UserProfile__profile__form {
			.UserProfile__profile__form__input {
				@extend .input;
				width: 100%;
			}
			.UserProfile__profile__form__textarea {
				@extend .input;
				width: 100%;
				height: 80px;
			}				
		}
		.UserProfile__profile__form__button-container {
			@extend .button-container;
			.UserProfile__profile__form__button {
				@extend .button;
			}
		}
	}


	.UserProfile__tasks {
		width: 100%;
		box-sizing: border-box;
		padding-left: 5%;
		.UserProfile__tasks__task {
			display:flex;
			flex-direction: row;
			
			.UserProfile__tasks__task__input-group {
				display: flex;
				flex-direction: column;
				width: 25%;
				//height: 80px;
				.UserProfile__tasks__task__input {
					@extend .input;
					width: 100%;
					&:hover {
						cursor: pointer;
					}
				}
			}
			.UserProfile__tasks__task__task-description {
				@extend .input;
				margin-left: 5%;
				width: 70%;
				resize: none;
				height: 80px;
			}				
		}
		.UserProfile__tasks__form__button-container {
			@extend .button-container;
			.UserProfile__tasks__form__button {
				@extend .button;
			}
		}
		.UserProfile__tasks__form__button-container+.UserProfile__tasks__form__button-container {
			margin-top: 10px;
		}
	}

}